<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
<listeners>
		<listener
			class-name="Listeners.MyListeners" />
	    </listeners>
  <test thread-count="5" name="ChromeTest">
  <parameter name="Browser" value="chrome"/>
  <parameter name="URL" value="https://openmrs.org/demo/"/>
  <parameter name="UserName" value="admin"/>
  <parameter name="password" value="Admin123"/>
  
    <classes>
        <class name="TestCases.AppointmentScheduling"/>
    </classes>
    
    </test>
    <test name="EdgeTest">
  <parameter name="Browser" value="edge"/>
  <parameter name="URL" value="https://openmrs.org/demo/"/>
  <parameter name="UserName" value="admin"/>
  <parameter name="password" value="Admin123"/>
  
    <classes>
        <class name="TestCases.AppointmentScheduling"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
